body {
     background: linear-gradient(#81DAF5, #0000FF);
     background-color: #CEE3F6;
     background-repeat: no-repeat;
     font-family: sans-serif;  
     height: 100%; 
    
}

label {
    color: darkblue;
    display: block;
    text-align: right;
    margin-right: 85%;
    font-weight: 600;

}

input {
    margin-left: 17%
        
}

textarea {
    margin-left: 17%;
    width: 26%;

}

#email {
    width: 26%;
    
}

#date {
    width: 14%;
    
}

#time {
    width: 10%;
    
}

#guests {
    width: 7%;
    
}

.create_reservation {
    color:blue;
    background-color: aqua;
    font-weight: 800;
    margin-left: 1%
        
}

fieldset {
    border-color: blue;
    background-color: gainsboro;
    
}

dd {
    margin-bottom: 1em; 

}

dt {
    color: #0000FF;
    margin-bottom: 0.5em;
    font-weight: bold; 
    
}

header {
     background-color: #000033;
     background-image: url("images/sunset.jpg");
     background-position: right;
     background-repeat: no-repeat;
     color: #00BFFF;
     height: 75px;
     text-align: center;

}

h1 {
    margin-top: 0px; 
    margin-bottom: 0px;
    font-family: sans-serif;
    
}

h2, h3 {
    color: #0000FF; 
    font-family: sans-serif;
    
}

li {
    margin-bottom: 0.4em; 
    
}

main ul {
    list-style-image: url("images/marker.gif");
    
}

nav {
     height: 1.5em;
     font-weight: bold; 
     font-size: 16px; 
     padding-left: 20px; 
     float: left;
     width: 170px; 
    
}

nav a {
    font-size: 19px;
    color: white; 
    text-decoration: none;
    
}

nav a:link {
    color: #0000FF;
    
}

nav a:visited {
    color: #0000FF; 
    
}

nav a:hover {
    color: #FFFFFF;
    
}

nav ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding-left: 0;
    
}

nav ul li {
    font-size: 1.2em;
    margin: 0px 0px 12px 0px;
    
}

.resort {
    color: #0000FF;
    font-size: 1.1em;
    
}

#nobullets {
    list-style-type: none;
    list-style-image: none;
    
}

footer { 
    clear: both;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: serif;
    font-size: 14px;
    margin: 25px 0px 0px 0px;
    
}

#contact {
    font-size: 0.9em;
    margin-top: 170px;
    
}

#wrapper {
    align-content: center;
    background-color: #F5D0A9;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 2048px;
    min-width: 960px;
    padding-bottom: 3.8em;
    width: 80%;
    
}

#main-image {
    height: 225px;
    background-image: url("images/coast-main.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    margin-left: 190px;
    
}

#accommodations-image {
    height: 225px;
    background-image: url("images/bungalow-main.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    margin-left: 190px;
    
}

#activities-image {
    height: 225px;
    background-image: url("images/trail-main.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    margin-left: 190px;
    
}

main {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    display: block; 
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    
}

table {
    border: 2px solid #000033;  
    border-spacing: 0;
    margin: auto;
    width: 80%;
    
}

th {
    border: 1px solid #F5D0A9;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: #F5D0A9;
    
}

td {
    border: 1px solid #F5D0A9;
    padding: 5px;
    text-align: center;
    
}


tr:nth-child(even) {
    background-color: #00d9ff;

}

tr:nth-child(even) a:visited {
    color: #0000FF;  
    
}

tr:nth-child(odd) {
    color: white;
    background-color: blue; 
    
}

tr:nth-child(odd) a:visited {
    color: #FFFFFF;    
    
}

.mob {
    display: none;
    
}

.others {
    display: contents;
    
}

.linkz {
    font-size: 15px;
    
}

@media only screen and (max-width: 64em){

    body {
        margin: 0;
        
    }    
    
    #wrapper {
        min-width: 0;
        width: auto;
        
    }
    
    main {
        margin-left: 0;
        display: block;
        
    }
    
    #contact {
        margin-top: 10px;
        
    }
    
    nav {
        display: inline;
        width: auto;
        text-align: center;
        padding: 0.5em;
        float: none;
        margin: auto;
        
    }
    
    nav li {
        display: inline;
        padding: 0.25em 0.75em 0.25em 0.75em;
        
    }
    
    #main-image {
        margin-left: 0;
        height: 200px;
        
    }
    
    #accommodations-image {
        margin-left: 0;
        height: 200px;
        
    }
    
    #activities-image {
        margin-left: 0;
        height: 200px;
    
    }
    
    .mob {
        display: none;
        
    }
    
    .others {
        display: contents;
        
    }
}

@media only screen and (max-width: 37.5em){
    
    header {
        padding-top: 1em;
        
    }
    
    main {
        padding: 0.1em 1em 0.1em 1em;
        font-size: 90%;
        margin-top: 0;
        
    }
    
    #contact {
        margin-bottom: 0;
        
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    nav ul li {
        display: block;
        margin: 0;
        border-bottom: 1px solid #FFE4C4;
        
    }
    
    nav ul:first-child {
        margin-top: -25px;
        border-top: 1px solid #FFE4C4;
        
    }
    
    nav ul li a {
        display: block;
        
    }
    
    #main-image {
        display: none;
        
    }
    
    #accommodations-image {
        display: none;
        
    }
    
    #activities-image {
        display: none;
        
    }
    
    table {
        display: none;
        
    }
    
    .mob {
        display: contents;
        
    }
    
    .mob a:link {
        color: #0000FF; 
        text-decoration: underline;
        
    }

    .mob a:visited {
        color: #0000FF;    
        text-decoration: underline;
        
    }

    .mob a:hover {
        color: #FFFFFF;
        text-decoration: underline;
        
    }
    
    .others {
        display: none;

    }
}
